body {
  text-align: center;
  background-color: #fff;
}

.container{
  display: grid;
  gap: 20px;
  margin: auto;
}

#subs{
  padding-top: 50px;
}

#sides{
  padding-top: 50px;
}

#drinks{
  padding-top: 50px;
}


/* Code for checkout page*/

.checkboxes{
  text-align: center;
}

#hotsubs {
  padding-top: 25px;
}

#desserts{
  padding-top: 25px;
}
#paymentinfo{
  padding-top: 25px;
}









